In [36]:
from selenium import webdriver
import bs4 as bs
import urllib.request 
import pandas as pd


source = urllib.request.urlopen("http://books.toscrape.com/").read()

soup = bs.BeautifulSoup(source, 'html.parser')

In [61]:
for string in soup.body.stripped_strings:
    print(string)

Books to Scrape
We love being scraped!
Home
All products
Books
Travel
Mystery
Historical Fiction
Sequential Art
Classics
Philosophy
Romance
Womens Fiction
Fiction
Childrens
Religion
Nonfiction
Music
Default
Science Fiction
Sports and Games
Add a comment
Fantasy
New Adult
Young Adult
Science
Poetry
Paranormal
Art
Psychology
Autobiography
Parenting
Adult Fiction
Humor
Horror
History
Food and Drink
Christian Fiction
Business
Biography
Thriller
Contemporary
Spirituality
Academic
Self Help
Historical
Christian
Suspense
Short Stories
Novels
Health
Politics
Cultural
Erotica
Crime
All products
1000
results - showing
1
to
20
.
Warning!
This is a demo website for web scraping purposes. Prices and ratings here were randomly assigned and have no real meaning.
A Light in the ...
£51.77
In stock
Add to basket
Tipping the Velvet
£53.74
In stock
Add to basket
Soumission
£50.10
In stock
Add to basket
Sharp Objects
£47.82
In stock
Add to basket
Sapiens: A Brief History ...
£54.23
In stock
Add to basket
The Requiem Red
£22.65
In stock
Add to basket
The Dirty Little Secrets ...
£33.34
In stock
Add to basket
The Coming Woman: A ...
£17.93
In stock
Add to basket
The Boys in the ...
£22.60
In stock
Add to basket
The Black Maria
£52.15
In stock
Add to basket
Starving Hearts (Triangular Trade ...
£13.99
In stock
Add to basket
Shakespeare's Sonnets
£20.66
In stock
Add to basket
Set Me Free
£17.46
In stock
Add to basket
Scott Pilgrim's Precious Little ...
£52.29
In stock
Add to basket
Rip it Up and ...
£35.02
In stock
Add to basket
Our Band Could Be ...
£57.25
In stock
Add to basket
Olio
£23.88
In stock
Add to basket
Mesaerion: The Best Science ...
£37.59
In stock
Add to basket
Libertarianism for Beginners
£51.33
In stock
Add to basket
It's Only the Himalayas
£45.17
In stock
Add to basket
Page 1 of 50
next
window.jQuery || document.write('<script src="static/oscar/js/jquery/jquery-1.9.1.min.js"><\/script>')
$(function() {



    oscar.init();

    oscar.search.init();

            });

In [62]:
soup.a

In [79]:
names = []
prices = []

for book in soup.select('article.product_pod'):
  #  print(book)

    name = book.find('h3').find('a').get('href')
    price = book.find('p',attrs={'class':'price_color'}).text
    names.append(name)
    prices.append(price)

In [69]:
prices

['£51.77',
 '£53.74',
 '£50.10',
 '£47.82',
 '£54.23',
 '£22.65',
 '£33.34',
 '£17.93',
 '£22.60',
 '£52.15',
 '£13.99',
 '£20.66',
 '£17.46',
 '£52.29',
 '£35.02',
 '£57.25',
 '£23.88',
 '£37.59',
 '£51.33',
 '£45.17']

In [88]:
book_names = []
for i in names:
    book_name = i.strip().split('/')
    book_names.append(book_name[1])
book_names

['a-light-in-the-attic_1000',
 'tipping-the-velvet_999',
 'soumission_998',
 'sharp-objects_997',
 'sapiens-a-brief-history-of-humankind_996',
 'the-requiem-red_995',
 'the-dirty-little-secrets-of-getting-your-dream-job_994',
 'the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993',
 'the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992',
 'the-black-maria_991',
 'starving-hearts-triangular-trade-trilogy-1_990',
 'shakespeares-sonnets_989',
 'set-me-free_988',
 'scott-pilgrims-precious-little-life-scott-pilgrim-1_987',
 'rip-it-up-and-start-again_986',
 'our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991_985',
 'olio_984',
 'mesaerion-the-best-science-fiction-stories-1800-1849_983',
 'libertarianism-for-beginners_982',
 'its-only-the-himalayas_981']

In [11]:
data = pd.read_html("https://www.google.com/covid19-map/")

In [97]:
book_data = pd.DataFrame(book_names)
book_data.head()

                                          0
0                 a-light-in-the-attic_1000
1                    tipping-the-velvet_999
2                            soumission_998
3                         sharp-objects_997
4  sapiens-a-brief-history-of-humankind_996

In [100]:
#book_data['Book Price'] = prices
book_data = book_data.rename(columns={0:'Book name'})
book_data.head()

                                  Book name Book Price
0                 a-light-in-the-attic_1000     £51.77
1                    tipping-the-velvet_999     £53.74
2                            soumission_998     £50.10
3                         sharp-objects_997     £47.82
4  sapiens-a-brief-history-of-humankind_996     £54.23

In [99]:
set(book_data)

{0, 'Book Price'}